@font-face {
   font-family: 'STRRETCH-SANS-_1_';
   font-display: swap;
   src: url('file:///C:/Users/micha/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-06-24_104818/fonts/STRRETCH-SANS-_1_/font.ttf');
}
