@font-face {
   font-family: 'STRRETCH-SANS-_1_';
   font-display: swap;
   src: url('STRRETCH-SANS-_1_/font.ttf');
}
@font-face {
   font-family: 'Hero-Bold-700';
   font-display: swap;
   src: url('Hero-Bold-700/font.ttf');
}
