@font-face {
   font-family: 'Hero-Bold-700';
   font-display: swap;
   src: url('file:///C:/Users/micha/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-06-24_104818/fonts/Hero-Bold-700/font.ttf');
}
